# SERVER_IMAGE_TAG=vx.x.x
# DB_IMAGE_TAG=x.x.x
# REDIS_IMAGE_TAG=x.x.x
# PROXY_IMAGE_TAG=x.x.x

# DJANGO_SECRET_KEY=secretkey                                 # [required for Production]
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost, yourdomain.com              # [required for Production]

CSRF_TRUSTED_ORIGINS=http://localhost, https://localhost                # for Development
# CSRF_TRUSTED_ORIGINS=http://yourdomain.com, https://yourdomain.com    # for Production
CSRF_COOKIE_SECURE=False

# DATABASE=pg                                                 # Options: 'pg', 'sqlite' [default: pg]
# DB_NAME=AppDatabase
# DB_USER=AppUser
DB_PASSWORD=AppUser                                         # [required]
# DB_HOST=db
# DB_PORT=5432

REDIS_PASSWORD=super-long-secure-password                   # [required]
# REDIS_HOST=
# REDIS_PORT=