SERVER_IMAGE_TAG=vx.x.x                                     # [optional]
DB_IMAGE_TAG=x.x.x                                          # [optional]
REDIS_IMAGE_TAG=x.x.x                                       # [optional]
# PROXY_IMAGE_TAG=x.x.x                                     # [not implemented]

# DJANGO_SECRET_KEY=secretkey                                 # [required for Production]
DJANGO_DEBUG=True                                           # [required for Production] Must be False in Production
DJANGO_ALLOWED_HOSTS=localhost, yourdomain.com              # [required for Production]

CSRF_TRUSTED_ORIGINS=http://localhost, https://localhost, http://yourdomain.com, https://yourdomain.com
CSRF_COOKIE_SECURE=False                                    # use True in production environment

# DATABASE=sqlite3                                            # Options: 'pg', 'sqlite' [default: pg]
DB_NAME=AppDatabase
DB_USER=AppUser
DB_PASSWORD=AppUser
DB_HOST=db
DB_PORT=5432

REDIS_PASSWORD=super-long-secure-password                   # [required]
# REDIS_HOST=                                               # [optional] default=redis
# REDIS_PORT=                                               # [optional] default=6379